services:
  {{ app_name }}-db:
    image: postgres:16-alpine
    command: postgres -c "log_lock_waits=on" -N 1000 -c "fsync=off"
    environment:
      POSTGRES_PASSWORD: secret123
      # Set user to app to match user from template-infra (https://github.com/navapbc/template-infra)
      # This is also needed for the initial migration that alters defaut privileges to grant
      # table privileges to the app user (see src/db/migrations/versions/2023_08_10_default_table_privileges.py)
      POSTGRES_USER: app
    ports:
      - "5432:5432"
    volumes:
      - {{app_name}}-dbdata:/var/lib/postgresql/data

  {{ app_name }}:
    build:
      context: ./
      target: dev
      args:
        - RUN_UID=${RUN_UID:-4000}
        - RUN_USER=${RUN_USER:-app}
    command: ["poetry", "run", "flask", "--app", "src.app", "run", "--host", "0.0.0.0", "--port", "{{ app_local_port }}", "--reload"]
    env_file:
      - path: ./local.env
        required: true
      - path: ./override.env
        required: false
    environment:
      - PYTHONPATH=/app/
    ports:
      - {{ app_local_port }}:{{ app_local_port }}
    volumes:
      - ./:/app
    depends_on:
      - {{ app_name}}-db

volumes:
  {{app_name}}-dbdata:
