# Python compiled/optimized files
__pycache__/
*.py[cod]
*$py.class

# Python packaging stuff
dist/
*.egg-info

# Python testing stuff
.coverage*
coverage.*
.testmondata
.pytest_cache/

# Python environments
.env
.venv

# mypy
.mypy_cache
