openapi: 3.0.3
info:
  title: Template Application Flask
  description: Template API for a Flask Application
  version: "2022-06-21"
  contact:
    name: Template Application Flask
    url: https://www.navapbc.com/
    email: engineering@navapbc.com

security:
  - api_key: []

servers:
  - url: /v1
    description: Development server

tags:
  - name: User
  - name: Health
    description: API Health and Integrity

paths:
  /healthcheck:
    get:
      security:
        - {} # No authentication required
      tags:
        - Health
      summary: Healthcheck for the API
      operationId: api.route.healthcheck.healthcheck_get
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: boolean

  /user/{user_id}:
    get:
      tags:
        - User
      summary: Get endpoint for a user in the DB
      operationId: api.route.user_route.user_get
      parameters:
        - name: user_id
          in: path
          schema:
            type: string
            format: uuid
          description: ID of User to get
          required: true
      responses:
        "200":
          description: A successful response returns a 200 status code and the user object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags:
        - User
      summary: Update a user in the DB
      operationId: api.route.user_route.user_patch
      parameters:
        - name: user_id
          in: path
          schema:
            type: string
            format: uuid
          description: ID of User to get
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserBase"
      responses:
        "200":
          description: A successful response returns a 200 status code and the user object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /user:
    post:
      tags:
        - User
      summary: Example post endpoint for creating a simple user in the DB
      operationId: api.route.user_route.user_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserBase"
      responses:
        "201":
          description: User was successfully submitted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessfulResponse"
                  - properties:
                      data:
                        $ref: "#/components/schemas/UserResponse"
        "400":
          description: An unsuccessful request returns a 400 status code if one or more errors occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Auth
      in: header
      x-apikeyInfoFunc: api.auth.api_key_auth.api_key_auth

  schemas:
    Date:
      type: string
      example: "1970-01-01"
      format: date

    UserBase:
      type: object
      properties:
        first_name:
          type: string
          example: Jane
          description: The users first name
        middle_name:
          type: string
          example: Anne
          nullable: true
          description: The users middle name
        last_name:
          type: string
          example: Doe
          description: The users last name
        phone_number:
          type: string
          example: "224-705-2345"
          pattern: '^([0-9]|\*){3}\-([0-9]|\*){3}\-[0-9]{4}$'
        date_of_birth:
          $ref: "#/components/schemas/Date"
        is_active:
          type: boolean
          example: true
          description: whether or not the user is active
        roles:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/Role"

    UserResponse:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
          example: "2f0f58a0-fcad-465b-b474-ee6c961cd6e3"
      allOf:
        - $ref: "#/components/schemas/UserBase"

    Role:
      type: object
      properties:
        type:
          type: string
          example: User
          enum:
            - USER
            - ADMIN

    SuccessfulResponse:
      type: object
      properties:
        status_code:
          type: integer
          example: 201
        message:
          type: string
          example: "success"
        data:
          oneOf:
            - type: array
            - type: object
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/ValidationErrorDetail"
      required: ["status_code"]
      additionalProperties: false

    ErrorResponse:
      type: object
      properties:
        status_code:
          type: integer
          example: 400
        message:
          type: string
          example: "Unable to add record"
        data:
          oneOf:
            - type: array
            - type: object
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/ValidationErrorDetail"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/ValidationErrorDetail"
      required: ["status_code", "errors"]
      additionalProperties: false

    ValidationErrorDetail:
      type: object
      properties:
        type:
          example: "required"
          type: string
        message:
          example: "request.first_name is required."
          description: "Somewhat user-friendly description of the error. May contain PII."
          type: string
        rule:
          description: >
            Usage varies depending on the source of the validation error. OpenAPI validation
            errors will set this to the expected value behavior (i.e the max length, or pattern).
          oneOf:
            - type: string
            - type: number
            - type: integer
            - type: boolean
            - type: array
            - type: object
          nullable: true
        field:
          description: "Field path, when the error is associated with a specific field."
          example: "request.first_name"
          nullable: true
          type: string
      additionalProperties: false

  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    BadRequest:
      description: There was a problem with your request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
